@media(min-width:768px) and (max-width:1024px){
    .linee{
        /*width: 1000px;*/
        height: 500px;
        padding-top: 350px;
    }
    .social-medias-img{
        width: 542px;
        height: 340px;
        position: relative;
        top: -300px;
        left: -200px;
    }
    .social-medias-links{
        margin-left: 0;
    }
    .cards{
        display: ruby;
    }

    .card-img{
        width: 356px;
        height: 259px;
    }

    .card-responsive{
        display: block;
    }

    .card-date{
        padding-top: 220px;
    }
    .card-responsive-date{
        padding-right: 140px;
        margin-top: 20px;
    }
}

@media(min-width:480px) and (max-width:768px){
    .linee{
        /*width: 1000px;*/
        height: 500px;
        padding-top: 350px;
    }
    .social-medias-img{
        width: 542px;
        height: 340px;
        position: relative;
        top: -300px;
        left: -200px;
    }
    .social-medias-links{
        margin-left: 0;
    }
    .cards{
        display: ruby;
    }

    .card-img{
        width: 356px;
        height: 259px;
    }

    .card-responsive{
        display: block;
    }

    .card-date{
        padding-top: 220px;
    }
    .card-responsive-date{
        padding-right: 140px;
        margin-top: 20px;
    }
}